.tasklist {
    padding: 8px;
    background-color: #5797b9;
    border-radius: 2px;
  }
  
  .tasklist .title {
    padding: 4px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .tasklist .btn:hover {
    background-color: #0091a8;
    cursor: pointer;
  }
  
  .tasklist .btn img {
    width: 15px;
    height: 15px;
    margin-right: 4px;
  }